DATABASE_URL="postgresql://kura:kura@localhost:5432/kura?schema=public"

KURA_DATA_ROOT="./data"
DATA_ROOT="/data"
DOWNLOADS_DIR="/data/downloads"
STAGING_DIR="/data/staging"
ANIME_LIBRARY_DIR="/data/library/anime"
MOVIES_LIBRARY_DIR="/data/library/movies"
TV_LIBRARY_DIR="/data/library/tv"
METADATA_DIR="/data/metadata"
TRANSCODES_DIR="/data/transcodes"

ARIA2_RPC_URL="http://localhost:6800/jsonrpc"
ARIA2_RPC_SECRET=""

OPENROUTER_API_KEY=""
OPENROUTER_MODEL="glm5.1"

NEXT_PUBLIC_DEFAULT_LOCALE="zh-Hans"
